MCLAUNCH_API_PORT=8787
MCLAUNCH_API_HOST=127.0.0.1
MCLAUNCH_API_BASE_URL=http://127.0.0.1:8787
MCLAUNCH_API_JWT_SECRET=cambia-esto-para-produccion
MCLAUNCH_DISCORD_CLIENT_ID=1490603354043191305
MCLAUNCH_MICROSOFT_CLIENT_ID=
MCLAUNCH_MICROSOFT_CLIENT_SECRET=
MCLAUNCH_MICROSOFT_REDIRECT_URI=http://127.0.0.1:8787/api/v1/login/callback
MCLAUNCH_POSTGRES_URL=postgres://postgres:postgres@127.0.0.1:5432/mclaunch
MCLAUNCH_REDIS_URL=redis://127.0.0.1:6379
MCLAUNCH_DOWNLOADS_DIR=dist
MCLAUNCH_INSTALLER_DOWNLOADS_DIR=react-installer/dist-installer
MCLAUNCH_HOTUPDATE_PACKAGES_DIR=build/hotupdates
